{% extends "header.html" %} {% block content %}
<div class="main-container">
  <div class="decoration-main-container">
    <div class="decoration-main"></div>
  </div>
  <h2 class="main-title">Search News and for a Ticker</h2>
  <form class="searchbar" action="/" method="POST">
    {{ form.csrf_token }} {{ form.ticker(class="form-control",
    placeholder="ticker symbol") }} {{ form.start_date(class="form-control",
    placeholder="Start Date (YYYY-MM-DD)") }} {% if form.start_date.errors %}
    <div class="error" role="alert">
      {% for error in form.start_date.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% endif %} {{ form.end_date(class="form-control", placeholder="End Date
    (YYYY-MM-DD)") }} {% if form.end_date.errors %}
    <div class="error" role="alert">
      {% for error in form.end_date.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% endif %} {% if form.ticker.errors %}
    <div class="error" role="alert">
      {% for error in form.ticker.errors %}
      <span>{{ error }}</span>
      {% endfor %}
    </div>
    {% endif %} {{ form.submit(class="form-button") }}
  </form>
</div>
{% endblock %}
